
@import "normalize.scss";
@import "variables.scss";
@import "global.scss";
@import "block/header.scss";
@import "block/main.scss";
@import "block/footer.scss";
@import "block/map.scss";
@import "block/form.scss";
@import "block/registration.scss";
@import "block/slider.scss";



@media (min-width:$dekstop-width) {
    .link__login {
        width: 40px;
        height: 40px;
        fill: white;
    }
    .link__login--black {
        fill: black;
    }
    .private-office__container {
        width: 55%;
        top: 30%;
    }
}

