
@import "normalize.scss";
@import "variables.scss";
@import "global.scss";
@import "block/header.scss";
@import "block/main.scss";
@import "block/footer.scss";
@import "block/map.scss";
@import "block/form.scss";
@import "block/slider.scss";



@media (min-width: $tablet_width) {
    .page-main__example {
        background-color: #fff;
    }
    .promo__slider-div {
        margin-top: 190px;
    }
    .slider__button-div {
        margin-top: 120px;
    }
}
