//////MAP
@media (min-width:$mobile-width) {
    .map {
        width: 100%;
        height: 360px;
        border: none;
    }
}


@media (min-width:$tablet-width) {
    .map {
        width: 100%;
        height: 400px;
    }
}

